body {
    font-family: Arial, sans-serif;
    background: #e6f2ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    margin: 40px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
}

h1, h2 {
    color: #004080;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #aaa;
    border-radius: 6px;
}

.btn {
    display: block;
    background: #0073e6;
    color: white;
    padding: 12px;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: bold;
}

.btn:hover {
    background: #005bb5;
}

.red {
    background: #cc0000 !important;
}

.link {
    display: block;
    text-decoration: none;
    margin-top: 15px;
    color: #004080;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background: #0073e6;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f2f2f2;
}
